.content-center{
   display: flex;
   align-items: center;
   justify-content: space-between;
   justify-content: space-around;
   background-color: antiquewhite;
   width: 100%;
   height: 70px;
   box-shadow: 0 8px 8px -8px black;
}
.navbar{
   
    font-size:12px;
}
.link{
    display: flex;
    font-size:24px;
}
.icon{
}
i{
    padding :0 10px;
    color: green;
    text-decoration: none;
    font-size: 17px;
}
.icon-a{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.link-home ,.link-About,.link-Projects,.link-Contact{
    padding : 0 20px;
    text-decoration: none;
    
}